<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='product_style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5175/utf-latest.min.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js" type="text/javascript"></script>
    <title>Products</title>
</head>
<body>
    <div class="main">
  <h1>Product Search</h1>
  <h2 class="sub-heading">What are you looking for?</h2>
    <form class="search" id="run-search">
        <input name="search_str" type="search" placeholder="Search here..." required>
        <button type="submit">Search</button>
    </form>
  <section class="shopping-cart">
    <ol class="ui-list shopping-cart--list" id="shopping-cart--list">

        {% raw %}
      <script id="shopping-cart--list-item-template" type="text/template">
        <li class="_grid shopping-cart--list-item">
          <div class="_column product-image">
            <img class="product-image--img" src="{{=img}}" alt="Item image" />
          </div>
          <div class="_column product-info">
            <div class="product-id" style="display: none;">{{=id}}</div>
            <h4 class="product-name">{{=name}}</h4>
            <p class="product-desc">{{=desc}}</p>
            <div class="price product-single-price">${{=price}}</div>
          </div>
          <div class="_column product-modifiers" data-product-price="{{=price}}">
            <div class="_grid">
              <button class="_btn _column product-subtract">&minus;</button>
              <div class="_column product-qty">0</div>
              <button class="_btn _column product-plus">&plus;</button>
            </div>
            <button class="_btn entypo-trash product-remove">Remove</button>
            <div class="price product-total-price">$0.00</div>
          </div>
        </li>
      </script>
      {% endraw %}


    </ol>

    <footer class="_grid cart-totals">
      <div class="_column subtotal" id="subtotalCtr">
        <div class="cart-totals-key">Subtotal</div>
        <div class="cart-totals-value">$0.00</div>
      </div>
      <div class="_column shipping" id="shippingCtr">
        <div class="cart-totals-key">Shipping</div>
        <div class="cart-totals-value">$0.00</div>
      </div>
      <div class="_column taxes" id="taxesCtr">
        <div class="cart-totals-key">Taxes (6%)</div>
        <div class="cart-totals-value">$0.00</div>
      </div>
      <div class="_column total" id="totalCtr">
        <div class="cart-totals-key">Total</div>
        <div class="cart-totals-value">$0.00</div>
      </div>
      <div class="_column checkout">
        <button class="_btn checkout-btn entypo-forward" id="checkout_btn">Checkout</button>
      </div>
    </footer>

  </section>
</div>
<script src="{{ url_for('static', filename='products.js') }}" type="text/javascript"></script>
</body>
</html>