<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='product_style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5175/utf-latest.min.css" type="text/css">
    <title>Thank you</title>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
h4 {text-align: center;}
</style>
</head>
<body>
    <h1>Upload successful!</h1>
    <h4><a href="{{base_path}}/users">Back to main admin page</a></h4>
</body>
</html>